@model MHome.Web.ViewModels.ProfileViewModels.ListProfileViewModel

@{
    ViewData["Title"] = "View";
}

<h1>Profile</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.PhoneNumber)
            </td>
            <td>
                <a class="btn btn-info"  asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-info"  asp-action="Details" asp-route-id="@Model.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
