@model MHome.Web.ViewModels.ProfileViewModels.ListProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<h1>User Profile</h1>

<div>   
    <hr />
    <dl class="row">
        <div class="col-md-4">
            <dt class="col-sm-2 mt-4">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">  
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Town)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Town)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClientCard)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClientCard)
            </dd>
        </div>
        <div class="col-md-8">
            <img class="img-thumbnail mx-auto mt-4" style="width: 350px" src="@Model.ImageUrl" alt="@Model.FirstName" />
        </div>
     
    </dl>
</div>

<div align="center" class="mt-4">
    <a class="btn btn-dark" asp-action="DetailsBoughtFurniture" asp-route-id="@Model.Id">Bought Furniture</a>
    <a class="btn btn-dark" asp-action="DetailsBoughtAccessories" asp-route-id="@Model.Id">Bought Accessories</a>
    <a class="btn btn-dark" asp-action="DetailsCompletedOrders" asp-route-id="@Model.Id">Completed Orders</a>
 </div> 

<div align="center" class="mt-4">
    <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Back</a>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>