@using MHome.Common;
@using MHome.Web.ViewModels.FurnitureViewModels;
@model AllFurnitureViewModel

@{
    ViewData["Title"] = "Furniture Catalogue";
}

<h1>Catalogue</h1>

@if(User.IsInRole(GlobalConstants.AdministratorRoleName)){
    <p>
        <a class="btn btn-info" asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                ImageUrl
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Dimensions
            </th>
            <th>
                StockQuantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AllFurniture) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dimensions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQuantity)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                @if(User.IsInRole(GlobalConstants.AdministratorRoleName)){
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
