@using MHome.Common
@model MHome.Web.ViewModels.FurnitureViewModels.AllFurnitureViewModel

@{
    ViewData["Title"] = "Furniture Catalogue";
}

<div class="row">
    <div class="col-md-4">
        <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Catalogue</h1>

        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
             <p> 
                <a class="btn btn-dark" asp-action="Create">Create New</a>
            </p>
        }

        @foreach(string category in Model.Categories)
        {
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="@category" name="categoryCheckbox" value="@category">
                <label class="form-check-label" for="@category">@category</label>
            </div>
        }
    </div>
    <div class="col-md-6 justify-content-end" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        <form method="get" asp-controller="Furniture" asp-action="All" class="mt-5">
            <div class="input-group">
                @if (Model.SearchQuery == null)
                {
                    <input type="text" name="search" class="form-control" placeholder="Search....">
                }
                else
                {
                    <input type="text" name="search" class="form-control" value="@Model.SearchQuery">
                }
                <div class="input-group-btn">
                    <button class="btn btn-dark" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<table class="table table-sm table-striped mt-5">
    <thead>
        <tr class="table-info" style="font-size: 20px">
            <th>
                Name
            </th>     
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllFurniture)
        {
            <tr name="trData" class="table-info" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                <td> 
                    <strong>
                        @Html.DisplayFor(modelItem => item.Name)
                    </strong>           
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <s>
                            @Html.DisplayFor(modelItem => item.Price)$
                        </s>
                        <p style="color: red">
                            @Html.DisplayFor(modelItem => item.PriceWithDiscount)$
                        </p>
                    }
                    else
                    {
                        <p>
                            @Html.DisplayFor(modelItem => item.Price)$
                        </p>
                    }
                </td>
                <td>
                    <strong>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </strong>              
                </td>
                <td>
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if ((User.Identity.IsAuthenticated && !User.IsInRole(GlobalConstants.AdministratorRoleName)))
                    {
                        <a class="btn btn-dark" asp-controller="Order" asp-action="Create" asp-route-id="@item.Id">Order</a>
                    }
                    @if(User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
                <td hidden>
                    @item.CategoryName
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    (function() {
        let checkBoxes = document.getElementsByName("categoryCheckbox");
        for (let box of checkBoxes) {
            box.addEventListener('click', (e) => {

                let targetValue = e.target.value;
                let tableRows = document.getElementsByName('trData');
                let rowsToDelete = [];

                for (let row of tableRows){
                    let categoryOfRow = row.childNodes[row.childNodes.length - 2].childNodes[0].data.trim();

                    if (categoryOfRow !== targetValue){
                        rowsToDelete.push(row); 
                    }
                }

                for (let row of rowsToDelete){
                    row.parentNode.removeChild(row);
                };
            }); 
        }
    })();
</script>