@using MHome.Common
@model MHome.Web.ViewModels.FurnitureViewModels.AllFurnitureViewModel

@{
    ViewData["Title"] = "Furniture Catalogue";
}

<h1>Catalogue</h1>

@*@if (User.IsInRole(GlobalConstants.AdministratorRoleName))
{
 *@   <p>
        <a class="btn btn-info" asp-action="Create">Create New</a>
    </p>
@*}*@

@foreach(string category in Model.Categories)
{
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="@category" value="@category">
        <label class="form-check-label" for="@category">@category</label>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>     
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllFurniture)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @*@if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {*@
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    @*}*@
                </td>
            </tr>
        }
    </tbody>
</table>