@model MHome.Web.ViewModels.FurnitureViewModels.DetailsFurnitureViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Furniture</h4>
    <hr />
    <dl class="row">
        <div class="col-md-4">
            <dt class="col-sm-2 mt-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @if (User.Identity.IsAuthenticated)
                {
                    <s>
                        @Html.DisplayFor(modelItem => Model.Price)$
                    </s>
                    <p style="color: red">
                        @Html.DisplayFor(modelItem => Model.PriceWithDiscount)$
                    </p>
                }
                else
                {
                    <p>
                        @Html.DisplayFor(modelItem => Model.Price)$
                    </p>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Dimensions)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Dimensions)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StockQuantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StockQuantity)
            </dd>
        </div>
        <div class="col-md-8">  
             <img class="img-thumbnail mx-auto mt-4" style="width: 400px" src="@Model.ImageURL" alt="@Model.Name" />
        </div>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="All">Back</a>
</div>
