@using MHome.Common
@model MHome.Web.ViewModels.AccessoryViewModels.AllAccessoriesViewModel

@{
    ViewData["Title"] = "Accessories Catalogue";
}

<div class="row" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
    <div class="col-md-4">
        <h1 style ="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Catalogue</h1>

        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <p>
                <a class="btn btn-dark" asp-action="Create">Create New</a>
            </p>
        }
    </div>
    <div class="col-md-6 justify-content-end">
        <form method="get" asp-controller="Accessory" asp-action="All" class="mt-5">
            <div class="input-group" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                @if (Model.SearchQuery == null)
                {
                    <input type="text" name="search" class="form-control" placeholder="Search....">
                }
                else
                {
                    <input type="text" name="search" class="form-control" value="@Model.SearchQuery">
                }
                <div class="input-group-btn">
                    <button class="btn btn-dark" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row mt-4 justify-content-center">
    @foreach (var item in Model.AllAccessories)
    {
        <div class="card m-3" style="width: 20rem;">
            <img class="card-img-top" src="@item.ImageURL" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Name: @item.Name</h5>
                @if (User.Identity.IsAuthenticated)
                {
                    <strong>
                        <s>
                            @Html.DisplayFor(modelItem => item.Price)$
                        </s>
                        <p style="color: red">
                            @Html.DisplayFor(modelItem => item.PriceWithDiscount)$
                        </p>
                    </strong>             
                }
                else
                {
                    <strong>
                        <p>
                            @Html.DisplayFor(modelItem => item.Price)$
                        </p>
                    </strong>                
                }
                <a class="btn btn-dark" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"  asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.Identity.IsAuthenticated && !User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a class="btn btn-dark" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" asp-controller="Order" asp-action="Create" asp-route-id="@item.Id">Order</a>
                }
                @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a class="btn btn-dark" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </div>
        </div>
    }
</div>
