@using MHome.Common
@model MHome.Web.ViewModels.AccessoryViewModels.AllAccessoriesViewModel

@{
    ViewData["Title"] = "Accessories Catalogue";
}

<div class="row">
    <div class="col-md-4">
        <h1 style ="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Catalogue</h1>

        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <p>
                <a class="btn btn-info" asp-action="Create">Create New</a>
            </p>
        }
    </div>
    <div class="col-md-6 justify-content-end">
        <form method="get" asp-controller="Accessory" asp-action="All" class="mt-5">
            <div class="input-group" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                @if (Model.SearchQuery == null)
                {
                    <input type="text" name="search" class="form-control" placeholder="Search....">
                }
                else
                {
                    <input type="text" name="search" class="form-control" value="@Model.SearchQuery">
                }
                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table table-sm table-striped mt-5">
    <thead>
        <tr class="table-info" style="font-size: 20px">
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllAccessories)
        {
            <tr name="trData" class="table-info" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                <td>
                    <strong>
                        @Html.DisplayFor(modelItem => item.Name)
                    </strong>
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <s>
                            @Html.DisplayFor(modelItem => item.Price)$
                        </s>
                        <p style="color: red">
                            @Html.DisplayFor(modelItem => item.PriceWithDiscount)$
                        </p>
                    }
                    else
                    {
                        <p>
                            @Html.DisplayFor(modelItem => item.Price)$
                        </p>
                    }
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.Identity.IsAuthenticated && !User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <a class="btn btn-info" asp-controller="Order" asp-action="Create" asp-route-id="@item.Id">Order</a>
                    }
                    @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>