@model MHome.Web.ViewModels.AccessoryViewModels.AccessoryDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Accessory</h4>
    <hr />
    <dl class="row">
        <div class="col-md-4" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
            <dt class="col-sm-10 mt-4">
                Name:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-10">
                Description:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-10">
                Price:
            </dt>
            <dd class="col-sm-10">
                @if (User.Identity.IsAuthenticated)
                {
                    <s>
                        @Html.DisplayFor(modelItem => Model.Price)$
                    </s>
                    <p style="color: red">
                        @Html.DisplayFor(modelItem => Model.PriceWithDiscount)$
                    </p>
                }
                else 
                {
                    <p>
                        @Html.DisplayFor(modelItem => Model.Price)$
                    </p>                   
                }           
            </dd>
            <dt class="col-sm-10">
                Stock Quantity:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StockQuantity)
            </dd>
        </div>
        <div class="col-md-8">  
             <img class="img-thumbnail mx-auto mt-4" style="width: 300px" src="@Model.ImageURL" alt="@Model.Name" />
        </div>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="All">Back</a>
</div>